uvicorn
pydantic
fastapi
pydantic-settings
conda-forge::sqlmodel
conda-forge::pycryptodome
conda-forge::redis-py
conda-forge::loguru
conda-forge::httpx
conda-forge::python-dateutil
mysql-connector-python